/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#cardapio{
	margin-left: 153px;	
	padding-bottom: 40px;
	padding-left: 20px; 
	font-family: Verdana;
	font-size: 14px;
	color: #333;
	width: 625px;
	border: 1px solid #aac0ae;
	background-color: rgba(255,255,255,.2);
	position: relative;
	top: -100px;
}

#cardapio h3{
	font-weight: bold; 
	font-size: 18px;
}

#cabecalho h1{
	font-family: Ravie;
	font-size: 36px;
	color: #e90c0c;
	padding-left: 20px;
}

#cabecalho h2{
	font-family: "Trebuchet MS";
	font-size: 24px;
	color: #333;
	padding-left: 180px;
}

#cabecalho span{
	color: #d027aa;
}

#lateral{
	width: 154px;
}

#lateral h2{	
	position: absolute;
	top: 165px;
	left: -40px;
	font-size: 48px;
	font-family: Verdana;
	color: #333;
	font-weight: bold;
	transform: rotate(-90deg); 	
}

#recipiente{
	background-image: linear-gradient(to bottom, #f5f1b2, #4599b2);
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d3d3d3;
	position: relative;
	height: 800px;
}

body{
	padding: 0px;
	margin: 0px;
}

#bolhas{
	position: absolute;
	top:361px;
	left:41px;
}

#conteudo{
	position: relative;
}

#peixe{
	position: relative;
	left: -44px;
	top: 552px;
}

#siri{
	position: absolute;
	top: -131px;
	left: -10px;
}

#rodape {
	text-align: right;
	margin-right: 15px;
	bottom: 25px;
	right: 15px;
	position: absolute;
}

#ticket{
	position: fixed;
	top: 295px;
	left: -73px;
}

#ticket:hover{
	left: 0px;
}

#cabecalho{
	padding-left: 154px;
}

#cardapio span{
	float: right;
	padding-right: 10px;
}
 #cardapio br{
 	margin-bottom: 10px;
 }